.primary-btn {
    background-color: #4690ff;
    border: 1px solid black;
}


.primary-btn:hover {
    background-color: #198AB2;
}


.secondary-btn {
    background-color: #61eaff8f;
    border: 1px solid black;
}


.secondary-btn:hover {
    background-color: #199DCC;
}

.nav-btn:active {
    outline: 2px solid black;
}

.nav-btn {
    color: black;
    padding: 10px 0 10px 0;
    margin: .5em;
    font-size: .8em;
    min-width: 350px;
    border-radius: 3px;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
}