footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: footer;
    background-color: rgb(28 63 93);
    color: #bce0ff;
    height: min-content;
    min-height:50px; 
    padding: 1.2em;
}


footer > ul > * {
    list-style: none;
}


#github-logo {
    height: 40px;
    width: 40px;
}

.footer-links {
    color: inherit;
}


#repo-link {
    color: rgb(28 63 93);
    text-decoration: none;
}

#github-ref-cont {
    display: inline-flex;
    flex-direction: row;
    background-color: #ffffff;
    padding: 7px;
    width: min-content;
    height: min-content;
    align-items: center;
    margin-right: 3px;
    border-radius: 20px;
}

#github-ref-cont:hover {
    background-color: #ebf6ff;
}

#github-ref-cont:active {
    border-bottom: 4px solid rgb(101, 224, 255);
    border-left: 2px solid rgb(101, 224, 255);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    footer {
        flex-direction: column;
    }
    
    ul {
        padding-left: 0;
    }
}