header {
    height: 5em;
    padding: 1em;
    background-color: rgb(29 113 185);
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* Titel */

#titel-heading {
    display: none;
}


/* logo */

#wiki-logo {
    height: 5em;
    width: 12em;
    border-radius: 30px;
}

#wiki-logo:hover {
    opacity: 0.9;
}




/* Zoekbalk */

.zoeken-container{
    background: #333;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.zoeken-container input {
    background: transparent;
    border: 0;
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
}

.suggestions > div{
    padding: 15px;
    font-size: 20px;
    color: #fff;
    border-top: 1px solid #666;
    cursor: pointer;
}

.suggestions > div:hover{
    background-color: #1e4dd4;
}

/* .suggestions{
   border-top: 2px solid #999;
} */