body {
    display: grid;
    grid-template-rows: auto auto 1fr 80px;
    grid-template-columns: 1fr 3fr;

    grid-template-areas: 
    "header header"
    "sidebar navbar"
    "sidebar main"
    "footer footer";
}


main {
    grid-area: main;
    padding: 2em;

}

header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sidebar {
    grid-area: sidebar;
    background-color: rgb(219, 219, 219);
}

.navbar {
    grid-area: navbar;
}

footer {
    grid-area: footer;
    background-color: rgb(97, 97, 97);
}


.zoeken-container{
    background: #333;
    border-radius: 6px;
    overflow: hidden;
    position: absolute;
    right: 0;
}

.zoeken-container input {
    background: transparent;
    border: 0;
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
}

/*.suggestions{*/
/*    border-top: 2px solid #999;*/
/*}*/

.suggestions > div{
    padding: 15px;
    font-size: 20px;
    color: #fff;
    border-top: 1px solid #666;
    cursor: pointer;
}

.suggestions > div:hover{
    background-color: #1e4dd4;
}
article {
    border: 0.1em solid rgb(46, 42, 42);
    margin-top: 3em;
    padding: 1em;
}